<div  *ngIf="userState">
  <h4>My current state: {{userState.state}}</h4>
  <div class="alert alert-danger" role="alert" *ngIf="errors">
    {{errors.message}}
  </div>
    <label class="mr-sm-2" for="inlineFormCustomSelect">Change state:</label>
    <select class="custom-select" #state>
      <option *ngFor="let state of states"
        [value]="state.id"
        [selected]="state.id == userState.id">{{state.state}}</option>
    </select>
    &nbsp;
    <button class="btn btn-primary"  type="submit" (click)="changeState(state.value)">Change</button>

    <button class="btn btn-info"  type="submit" (click)="resetState()">Reset state</button>
</div>
